__pycache__/calib.cpython-312.pyc
__pycache__/cameraWorker.cpython-312.pyc
__pycache__/TCPServerThread.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/tcpClient.cpython-312.pyc
__pycache__/tcpServer.cpython-312.pyc
View/__pycache__/Ui_main_ui.cpython-312.pyc
View/__pycache__/Ui_calib_ui.cpython-312.pyc
View/__pycache__/qhalconview.cpython-312.pyc
__pycache__/TCPServerThread.cpython-312.pyc
